body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Color */
  --color-mediumvioletred: #b92195;
  --color-whitesmoke: #f8f8f8;
  --color-silver: #b5b5b5;
  --color-gray-300: rgba(30, 30, 30, 0.1);
  --color-gray-200: #221d19;
  --color-gray-100: #272727;
  --color-darkgray: #adadad;
  --color-darkslategray-200: #333;
  --color-darkslategray-100: #444;
  --color-gainsboro: #e7e7e7;
  --color-black: #000;
  --color-dimgray: #727272;
  --color-white: #fff;
  --FFB700: #ffb700;
  --Red: #db2e20;
  --Yellow: #ffb700;
  --Body: #4a4a4a;
  --System-Colors-Headings: #1e1e1e;

  /* Gap */
  --gap-16: 16px;
  --gap-40: 40px;
  --gap-26: 26px;
  --gap-22: 22px;
  --gap-10: 10px;
  --gap-15: 15px;
  --gap-19: 19px;
  --gap-18: 18px;
  --gap-20: 20px;
  --gap-28: 28px;
  --gap-30: 30px;

  /* Padding */
  --padding-28: 28px;
  --padding-5: 5px;
  --padding-8: 8px;
  --padding-11: 11px;
  --padding-2: 2px;
  --padding-26: 26px;
  --padding-10: 10px;
  --padding-15: 15px;
  --padding-14: 14px;
  --padding-40: 40px;
  --padding-19: 19px;
  --padding-16: 16px;
  --padding-30: 30px;
  --padding-60: 60px;
  --padding-6: 6px;
  --padding-18: 18px;
  --padding-20: 20px;

  /* BorderRadius */
  --br-3: 3px;
  --br-100: 100px;
  --br-20: 20px;
  --br-10: 10px;

  /* Font */
  --font-inter: Inter;
  --font-graphik: Graphik;

  /* FontSize */
  --font-size-19: 19px;
  --font-size-26: 26px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-18: 18px;
  --font-size-30: 30px;
  --font-size-72: 72px;
}
